**# Stage 03 â€” Python Fundamentals**

**Objective:** Practice Python, NumPy, and pandas operations and create reusable functions for the project.

**Contents:**
- Basic Python data manipulations
- NumPy array operations
- pandas DataFrame operations
- Notes for reusable utility functions in `/src/utils.py`

In [2]:
import sys
import os

sys.path.append(os.path.abspath('..'))

In [3]:
import pandas as pd

df=pd.DataFrame({
    'Loan Amount': [100000, 250000, 150000],
    'Interest Rate' : [0.05, 0.06, 0.055]
})
df

   Loan Amount  Interest Rate
0       100000          0.050
1       250000          0.060
2       150000          0.055

In [4]:
from src.utils import clean_column_names

df_clean = clean_column_names(df)
df_clean

   loan_amount  interest_rate
0       100000          0.050
1       250000          0.060
2       150000          0.055